<!-- include the header -->
<%- include('partials/header')%>
<!-- /include the header -->

<!-- main body -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/">All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to update an account</span>
        </div>
        <!-- form section -->
        <!-- add user form -->
        <form method="post" id="update-user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%= user._id %>">
                    <input type="text" name="name" value="<%= user.name %>" placeholder="Dauda Yusuf">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    
                    <input type="text" name="email" value="<%= user.email%>" placeholder="yus@gmail.com">
                </div>
                <div class="form-group">
                    <label for="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
                        <label for="radio-2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" <%= user.gender == 'Female' ? 'checked' : '' %>>
                        <label for="radio-3" class="radio-label">Female</label>
                    </div>
                    
                    
                </div>
        
                <div class="form-group">
                    <label for="gender" class="text-light">Status</label>
                    <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" <%= user.status == 'Active' ? 'checked' : '' %>>
                        <label for="radio-4" class="text-light">Active</label>
                    </div>
                    <div class="radio inline">
            <input type="radio" id="radio-5" name="status" value="Inactive" <%= user.status == 'Inactive' ? 'checked' : '' %>>
                        <label for="radio-5" class="text-light">Inactive</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
            
        </form>
        <!-- /add user form -->    
        
    </div>
 </main>
<!-- /main body -->

<!-- include the footer -->
<%- include('partials/footer')%>
<!-- /include the footer -->